*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
    
}
.order-link{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
}
.div-flexible{
    display: flex;
    margin-bottom: 60px;
    

}
.div-flexible ,h2 ,p{
    text-align: center;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
}